<!-- data binding, string interpolation -->
<h1>{{ title }}</h1>
<h3>{{ fromParent }}</h3>
<app-post-list [frompostParent]="parentpostMessage"></app-post-list>
<button (click)="sendMessage()">Click</button>
